
.icon-play-circled:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-edit:before { content: '\e805'; } /* '' */
.icon-puzzle-outline:before { content: '\e806'; } /* '' */
.icon-arrows-cw:before { content: '\e807'; } /* '' */
.icon-heart-circled:before { content: '\e808'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-rss:before { content: '\e80a'; } /* '' */
.icon-laptop:before { content: '\e80b'; } /* '' */
.icon-eye-off:before { content: '\e80c'; } /* '' */
.icon-hourglass:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-flow-cross:before { content: '\e80f'; } /* '' */
.icon-download:before { content: '\e810'; } /* '' */
.icon-mobile:before { content: '\e811'; } /* '' */
.icon-thumbs-up-1:before { content: '\e812'; } /* '' */
.icon-mail:before { content: '\e813'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
